/* main */
*{
    padding:0;
    margin:0
}

.root{
    position: absolute;
    margin: 0;
}

.header{
    
    background-color: burlywood;
    display: flex;
    margin-top: -30px;
    height: 30px;
    width: 1300px;
    position: fixed;
    /* overflow: hidden; */
    align-items: center;
    z-index: 1;
}



#body{
    
    margin-top: 30px;
    background-color: crimson;
    min-height: 643px;
    text-align: center;
    z-index: -1;
    
}

.footer{
    background-color: cyan;
    text-align: center;
    min-height: 25px;
    
}


/* header */
.search input{
    background-color:cornflowerblue;
    transform: translateX(10px);}


.categories select{
    background-color: darkred;
    transform: translateX(20px)}



#basket button{
    background-color: yellow;
    transform: translateX(-50px);
    width: 170px;
}
#dropdown button{
    background-color: yellow;
    width: 120px;
    transform: translateX(750px);
}


#login button{
    background-color: yellow;
    width: 120px;
    transform: translateX(750px);}


#add{
    background-color: violet;
    transform: translateX(-100px);
    width: 500px;
}
/* Offers Body */

.productImageMedium{
    width:100px;height:100px;
}
#products td{
    border: solid black 2px;
    }
button:hover{
    cursor: pointer;
}

#products{
    margin-left: 20px;
}

.tableName {
    width: 200px;
    height: 150px;
}

.tableDescr{
    width: 300px;
}
.tablePrice{
    width: 100px;
    height: 150px;
}

.tableBuy{
    width: 200px;
    height: 150px;
}

.tableImg{
    width:152px;
    height:152px;
}

.tableImg :hover{
    cursor: pointer;
    width:200px;
    height:200px;
    transform: translateZ(100px);
    overflow: hidden;
}

.buyBtn{
    background-color: blue;
    padding: 10px;
}

.tableVol{
    width: 100px;
}
/* Basket */

#basketTable{
    margin-left: 40px;
    transform: translateY(100px);

}
#basketTable td{
    border: solid black 2px;
    }



.basketName{
    width: 300px;
}

#emptyBasket{
    transform: translateY(40px);
    
}

.basketVol{
    width: 100px;
} 

.basketPrice{
    width: 150px;
} 

.basketBtn{
    width: 200px;
}

.basketBtn button{
    padding:10px;
}

#payBtn{
    padding: 20px;
    transform: translateY(200px) translateX(300px);

}
#dropdown {
    position: relative;
    display: inline-block;
  }
  
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
    text-decoration-line: none;
}

#dropdown:hover #dropdown-content {
    transform: translateX(750px);
    display: block;
    overflow: visible; 
    text-decoration: none;
    line-height: 2em;
}

#divider{
    line-height: 7px;
    transform: translateY(-5px);
}

#dropdown-content :visited{
    display: none;
}

/* Create Account */

#newUserForm{
    transform: translateY(150px);
}

#userMsg{
    color: yellow;
    position: absolute;
    overflow: visible;
    width: 100px;
    transform: translateY(5px) translateX(1100px);
    
    z-index: 2;}

    
#pageMsg{
    transform: translateY(40px);
}

#myOffers{
    transform: translateY(50px)
}