/* main */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color:#000099;
}

.root{
    position: absolute;
}

.header{
    
    background-color:#000099;
    display: flex;
    margin-top: -45px;
    height: 8vh;
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 1;
}
button:hover{
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}
a :visited{
    color: black;
}


#body{
    margin-top: 45px;
    background-color: #e0e0eb;
    /* min-height: 625px; */
    height: 88vh;
    text-align: center;
    z-index: -1;
    width: 100%;
    white-space: nowrap;}

#footer{
    background-color: #000099;
    text-align: center;
    height: 5vh;
      

    
}
#footer button{
    /* transform: translateX(500px); */
    margin: 0px 10px;
    background-color: #ebccff;
    border-radius: 10%;
    color: black;

}


/* header */
#search input{
    background-color:#e0e0eb;
    transform: translateX(10px);
    font-size: large;
    color: black}

#searchBtn{
    transform: translateX(20px);
    padding: 10px;
    }

#searchBtn button{
    font-size: large;
    color: black;
    background-color: #e0e0eb;
}

#categories select{
    background-color: #e0e0eb;
    transform: translateX(20px);
    font-size: large;
    color: black}
#categories option{
    color: black;
}

#basket{
    transform: translateX(-80px);
}

#basket button{
    background-color: #0000ff;
    border-radius: 7%;
    width: 200px;
    font-size: large;
    color: white;
}
#dropdown button{
    background-color: #0000ff;
    width: 120px;
    font-size: large;
    border-radius: 7%;
    color: white;
}


#loginEmail{
    color: black;    
    
}


#loginBtn{
    transform: translateY(50px) translateX(0px);
} 

#loginArea{
    transform: translateY(150px);
    
    border-bottom: solid black;
}

#loginPass{
    transform: translateY(15px) translateX(-10px);    
    color: black;
}
#loginEmail input{
    font-size: large;
    color: black;
}

#loginPass input{
    font-size: large;
    color: black;
}
#loginBtn button{
    font-size: large;
    padding: 10px;
    border-radius: 7%;
    color:black;
}

#newAccount{
    transform: translateY(250px) translateX(-10px);
    font-size: large;
}
#login{
    transform: translateX(250px);
}

#login button{
    font-size: large;
    background-color: #0000ff;
    width: 120px;
    border-radius: 7%;
    color: white;}


#add{
    background-color: #9999ff;
    transform: translateX(30px);
    font-size: 30px;
    width: 450px;
    height: 35px;
    white-space: nowrap;
}

#add Link{
    background-color: black;
    font-size: 40px;
    font: bold;
}

/* Offers Body */


#products {
    font-size: large;
    width: 100vw;
    transform: translateY(50px);
}


.tableName {
    color: black;
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-left: 10px;
    height: 150px;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

.tableDescr{
    color: black;
    display: inline-block;
    width: 40vw;
    height: 150px;
    vertical-align: middle;
    white-space: normal;
}
.tablePrice{
    display: inline-block;
    width: 10vw;
    height: 150px;
    vertical-align: middle;
    transform: translateX(30px);
    color: black;
}

.tableBuy{
    display: inline-block;
    width: 10vw;
    height: 150px;
}
.tableBuy button{
    color: white;
}

.tableVol{
    display: inline-block;
    width: 5vw;
    align-items: center;}

.tableVol input{
    color: black;}


.tableImg{
    display: inline-block;
    width: 20vw;
    height:130px;
}
.tableImg img{
    width:150px;height:100px;
}

.tableImg :hover{
    display: inline-block;
    cursor: pointer;
    width:195px;
    height:130px;
    transform: translateZ(100px);
    overflow: hidden;
}

.buyBtn{
    display: inline-block;
    background-color: blue;
    padding: 10px;
}


/* Basket */

#basketTable{
    width: 50vw;
    margin-left: 25vw;
    transform: translateY(100px);
    
}
#basketTable th{
    color:black;
}

#basketTable td{
    border: solid black 2px;
    color:black;
    font-size: x-large;
    }

#basketTable button{
    padding:10px;
}


#dropdown {
    transform: translateX(250px);
    position: relative;
    display: inline-block;
    font-size: large;
  }
Link{
    text-decoration-style: none;
}
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
    text-decoration-line: none;
}

#dropdown:hover #dropdown-content {
    
    display: block;
    overflow: visible; 
    text-decoration: none;
    line-height: 2em;
    font-size: large;
}

#divider{
    line-height: 7px;
    transform: translateY(-5px);
}

#dropdown-content :visited{
    display: none;
}

/* Create Account */

#newUserForm{
    transform: translateY(150px);
    font-size: larger;
    
}
#newUserForm input, button{
    color: black;
    font-size: large;
}
#newInfo{
    color:black;
}

#newUserForm button{
    padding: 5px;
}

#userMsg li{
    color: black;
}


    
#pageMsg{
    /* transform: translateY(200px); */
    top: 50px;
    font-size: larger;
    color: black;
}
#userMsg{
    color: black;
    position: fixed;
    z-index: -1;
    /* width: 500px; */
    bottom: 50px;
    right: 100px;
    z-index: 2;}

#addProductBtn button{
    padding: 5px;}

#sellTitle{
    font-size: large;
    color: black;
}


.sellName{
    font-size: x-large;
    color:black;
    display: inline-block;
    width: 20vw;
}
.sellPrice{
    font-size: x-large;
    color:black;
    display: inline-block;
    width: 20vw;
}
.sellEditBtn{
    font-size: large;
    color:black;
    display: inline-block;}

.sellDeleteBtn{
    font-size: large;
    color:black;
    display: inline-block;
}

.sellDisplayBtn{
    font-size: large;
    color:black;
    display: inline-block;
}

#sellTable{
    width: 80vw;
    margin-left: 10vw;
}
#sellTable li{
    list-style-type: none;
}

#sellTable button{
    padding: 10px;
}


#spName{
    color: black;
    font-size: x-large;
}

.spImg{
    max-width: 700px;
    max-height: 600px;
    display: inline-block;
}

#spDescription{
    color: black;
    font-size: x-large;
    
}

#spVol{
    display: inline-block;
    width: 20px;
    margin-left: 15px;
}

#spVol input{
    color: black;
    font-size: large;
}
#spPrice{
    color: black;
    font-size: x-large;
    margin-top: 50px;
    display: inline-block;
}
#spBuyBtn button{
    padding: 10px;
    display: inline-block;
    background-color: blue;
    color: white;
}

#spBuyBtn{
    display: inline-block;
    margin-left: 100px;
}

#spBack button{
    background-color: white;
    padding: 10px;
}


#addProduct
{
    width: 80vw;
    margin-left: 10vw;
    transform: translateY(100px);
        
}

#addProduct input, select, option, textarea{
    font-size: large;
    color: black;
}
#addDesc textarea{
    margin-top: 5px;
    width: 80vw;
    height: 20vw;
}

#addProduct button{
    padding: 10px;
}

#addName{
    margin-left: 0px;
    display: inline-block;
}
#addVol{
    display: inline-block;
}

#addCategory{
    display: inline-block;
}

#addInfo{
    font-size: large;
    color: black;
}

#addPrice{
    display: inline-block;
    
}


.imgAddded img{
    max-width: 700px;
    max-height: 600px;
}

#imgAdddedAvatar img{
    max-width: 250px;
    max-height: 150px;
}
#imgAdddedAvatar{
    color: black;
}

#editProduct{
    width: 80vw;
    margin-left: 10vw;
    transform: translateY(100px);}

#editProduct input{
    color: black;
    font-size: large;
}

#editDescr textarea{
    margin-top: 5px;
    width: 80vw;
    height: 20vw;
}

#editProduct button{
    padding: 10px;
}
