/* main */
*{
    padding:0;
    margin:0
}

.root{
    position: absolute;
}

.header{
    
    background-color: burlywood;
    display: flex;
    margin-top: -30px;
    height: 30px;
    width: 1300px;
    position: fixed;
    /* overflow: hidden; */
    align-items: center;
    z-index: 1;
}
button:hover{
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}
a :visited{
    color: black;
}


#body{
    margin-top: 30px;
    background-color: crimson;
    min-height: 643px;
    text-align: center;
    z-index: -1;
    
}

.footer{
    background-color: cyan;
    text-align: center;
    min-height: 25px;
    
}


/* header */
#search input{
    background-color:cornflowerblue;
    transform: translateX(10px);}

#searchBtn{
    transform: translateX(20px)
}

#categories select{
    background-color: darkred;
    transform: translateX(20px)}



#basket button{
    background-color: yellow;
    transform: translateX(-50px);
    width: 170px;
}
#dropdown button{
    background-color: yellow;
    width: 120px;
    transform: translateX(750px);
}


#login button{
    background-color: yellow;
    width: 120px;
    transform: translateX(750px);}


#add{
    background-color: violet;
    transform: translateX(-80px);
    width: 500px;
}
/* Offers Body */

.productImageMedium{
    width:100px;height:100px;
}
#products {
    white-space: nowrap;
    transform: translateY(50px) translateX(-100px);
}


/* .row{position: fixed;} */

.tableName {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 150px;
    text-align: left;
    vertical-align: middle;
}

.tableDescr{
    display: inline-block;
    width: 300px;
    height: 150px;
    vertical-align: middle;
}
.tablePrice{
    display: inline-block;
    width: 100px;
    height: 150px;
    vertical-align: middle;
    transform: translateX(30px);
}

.tableBuy{
    display: inline-block;
    width: 200px;
    height: 150px;
}

.tableVol{
    display: inline-block;
    width: 100px;
    align-items: center;
    
}
.tableVol input{
    
}

.tableImg{
    display: inline-block;
    width:152px;
    height:150px;
}

.tableImg :hover{
    display: inline-block;
    cursor: pointer;
    width:200px;
    height:200px;
    transform: translateZ(100px);
    overflow: hidden;
}

.buyBtn{
    display: inline-block;
    background-color: blue;
    padding: 10px;
}


/* Basket */

#basketTable{
    margin-left: 40px;
    transform: translateY(100px);

}
#basketTable td{
    border: solid black 2px;
    }



.basketName{
    width: 300px;
}

#emptyBasket{
    transform: translateY(40px);
    
}

.basketVol{
    width: 100px;
} 

.basketPrice{
    width: 150px;
} 

.basketBtn{
    width: 200px;
}

.basketBtn button{
    padding:10px;
}
.basketProdBtn button{
    padding:10px; 
}

#payBtn{
    padding: 20px;
    transform: translateY(200px) translateX(300px);

}
#dropdown {
    position: relative;
    display: inline-block;
  }
Link{
    text-decoration-style: none;
}
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
    text-decoration-line: none;
}

#dropdown:hover #dropdown-content {
    transform: translateX(750px);
    display: block;
    overflow: visible; 
    text-decoration: none;
    line-height: 2em;
}

#divider{
    line-height: 7px;
    transform: translateY(-5px);
}

#dropdown-content :visited{
    display: none;
}

/* Create Account */

#newUserForm{
    transform: translateY(150px);
}

#userMsg{
    color: yellow;
    position: fixed;
    z-index: -1;
    width: 100px;
    transform: translateY(5px) translateX(1100px);
    
    z-index: 2;}

    
#pageMsg{
    transform: translateY(40px);
}

#addProductBtn{
    transform: translateY(50px)
}


/* singleProduct, spName, spImage, spDescription, spVol, spPrice, spBuyBtn, spBack */
/* 
sellTitle
sellName
sellPrice
sellEditBtn
sellDeleteBtn
sellDisplayBtn */
/* 
addName
addVol
addCategory
addDesc
addPrice
addImage
addBtn 
addImage1
addImage2
addImage3


*/
.imgAddded img{
    max-width: 700px;
    max-height: 600px;
}

#imgAdddedAvatar img{
    max-width: 250px;
    max-height: 150px;
}